#cabinet-container.insulating_strip {
    padding-top: 80px;
    color: #192029
}

@media screen and (max-width: 959px) {
    #cabinet-container.insulating_strip {
        padding-top: 40px
    }
}

#cabinet-container.insulating_strip h1 {
    font-family: Ubuntu;
    font-size: 53px;
    font-weight: 700;
    line-height: 64px
}

@media screen and (max-width: 1279px) {
    #cabinet-container.insulating_strip h1 {
        font-size: 30px;
        line-height: 40px;
        margin: 0
    }
}

#cabinet-container.insulating_strip .profile-content {
    width: 100%
}

#cabinet-container.insulating_strip .profile-title {
    display: flex
}

@media screen and (max-width: 639px) {
    #cabinet-container.insulating_strip .profile-title {
        display: block
    }
}

#cabinet-container.insulating_strip .profile-title .title_img {
    padding-right: 36px;
    order: -1
}

@media screen and (max-width: 639px) {
    #cabinet-container.insulating_strip .profile-title .title_img {
        order: 0
    }
}

#cabinet-container.insulating_strip .profile-title .title_img img {
    border: 1px solid #d7d7d7;
    width: 200px;
    height: auto
}

#cabinet-container.insulating_strip .tables_wrap {
    display: flex;
    padding-top: 52px
}

@media screen and (max-width: 959px) {
    #cabinet-container.insulating_strip .tables_wrap {
        display: block
    }
}

#cabinet-container.insulating_strip .tables_wrap > div {
    width: 50%
}

@media screen and (max-width: 959px) {
    #cabinet-container.insulating_strip .tables_wrap > div {
        width: 100%
    }
}

#cabinet-container.insulating_strip .tables_wrap .one_table .table_row {
    display: flex;
    padding-bottom: 22px
}

@media screen and (max-width: 639px) {
    #cabinet-container.insulating_strip .tables_wrap .one_table .table_row {
        display: block;
        padding-bottom: 5px
    }
}

#cabinet-container.insulating_strip .tables_wrap .one_table .table_row .table_td {
    width: 50%;
    color: #161d26;
    font-family: Ubuntu;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px
}

@media screen and (max-width: 639px) {
    #cabinet-container.insulating_strip .tables_wrap .one_table .table_row .table_td {
        width: 100%;
        font-size: 11px
    }
}

#cabinet-container.insulating_strip .tables_wrap .one_table .table_row .table_td span.unchecked {
    width: 38px;
    height: 38px;
    display: inline-block;
    background: url("/thermevo_website_management/static/src/images/certificate_unchecked.png");
    background-size: cover
}

#cabinet-container.insulating_strip .tables_wrap .one_table .table_row .table_td span.checked {
    width: 38px;
    height: 38px;
    display: inline-block;
    background: url("/thermevo_website_management/static/src/images/certificate_checked.png");
    background-size: cover
}

#cabinet-container.insulating_strip .tables_wrap .one_table .table_row .table_td.td_label {
    color: #192029;
    font-size: 24px;
    font-weight: 700
}

@media screen and (max-width: 639px) {
    #cabinet-container.insulating_strip .tables_wrap .one_table .table_row .table_td.td_label {
        font-size: 14px
    }
}

#cabinet-container.insulating_strip .tables_wrap .one_table .table_row .table_td .with_border {
    display: inline-block;
    color: #5d6978;
    font-family: Ubuntu;
    font-size: 15px;
    font-weight: 400;
    padding: 5px 15px;
    background-color: whitesmoke;
    border: 1px solid #161d26
}

#cabinet-container.insulating_strip .swiper_block {
    position: relative;
    padding: 0 50px;
    margin-bottom: 50px;
    margin-top: 50px
}

#cabinet-container.insulating_strip .swiper_block .swiper-slide .img {
    max-width: 300px;
    margin: 0 auto
}

#cabinet-container.insulating_strip .swiper_block .swiper-slide .img img {
    width: 100%;
    height: auto
}

#cabinet-container.insulating_strip .swiper_block .swiper-slide .slide_title {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px
}

#cabinet-container.insulating_strip .swiper_block .swiper-slide .slide_title a {
    color: #192029;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px
}

#cabinet-container.insulating_strip .text_block1, #cabinet-container.insulating_strip .text_block2 {
    display: flex;
    border-bottom: 1px solid #d3dae1;
    padding-bottom: 20px
}

@media screen and (max-width: 959px) {
    #cabinet-container.insulating_strip .text_block1, #cabinet-container.insulating_strip .text_block2 {
        display: block
    }
}

#cabinet-container.insulating_strip .text_block1 > div, #cabinet-container.insulating_strip .text_block2 > div {
    width: 50%
}

@media screen and (max-width: 959px) {
    #cabinet-container.insulating_strip .text_block1 > div, #cabinet-container.insulating_strip .text_block2 > div {
        width: 100%
    }
}

#cabinet-container.insulating_strip .text_block1 .block_title, #cabinet-container.insulating_strip .text_block2 .block_title {
    color: #161d26;
    font-family: Ubuntu;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    padding-bottom: 20px
}

@media screen and (max-width: 639px) {
    #cabinet-container.insulating_strip .text_block1 .block_title, #cabinet-container.insulating_strip .text_block2 .block_title {
        font-size: 25px;
        line-height: 30px
    }
}

#cabinet-container.insulating_strip .text_block1 .block_row, #cabinet-container.insulating_strip .text_block2 .block_row {
    display: flex;
    padding-bottom: 22px;
    align-items: center
}

@media screen and (max-width: 639px) {
    #cabinet-container.insulating_strip .text_block1 .block_row, #cabinet-container.insulating_strip .text_block2 .block_row {
        display: block;
        padding-bottom: 0
    }
}

#cabinet-container.insulating_strip .text_block1 .block_row .table_td, #cabinet-container.insulating_strip .text_block2 .block_row .table_td {
    width: 50%;
    color: #161d26;
    font-family: Ubuntu;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px
}

@media screen and (max-width: 639px) {
    #cabinet-container.insulating_strip .text_block1 .block_row .table_td, #cabinet-container.insulating_strip .text_block2 .block_row .table_td {
        width: 100%;
        font-size: 11px
    }
}

#cabinet-container.insulating_strip .text_block1 .block_row .table_td span.unchecked, #cabinet-container.insulating_strip .text_block2 .block_row .table_td span.unchecked {
    width: 38px;
    height: 38px;
    display: inline-block;
    background: url("/thermevo_website_management/static/src/images/certificate_unchecked.png");
    background-size: cover
}

#cabinet-container.insulating_strip .text_block1 .block_row .table_td span.checked, #cabinet-container.insulating_strip .text_block2 .block_row .table_td span.checked {
    width: 38px;
    height: 38px;
    display: inline-block;
    background: url("/thermevo_website_management/static/src/images/certificate_checked.png");
    background-size: cover
}

#cabinet-container.insulating_strip .text_block1 .block_row .table_td.td_label, #cabinet-container.insulating_strip .text_block2 .block_row .table_td.td_label {
    color: #192029;
    font-size: 24px;
    font-weight: 700
}

@media screen and (max-width: 639px) {
    #cabinet-container.insulating_strip .text_block1 .block_row .table_td.td_label, #cabinet-container.insulating_strip .text_block2 .block_row .table_td.td_label {
        font-size: 14px
    }
}

#cabinet-container.insulating_strip .text_block1 .block_row .table_td .with_border, #cabinet-container.insulating_strip .text_block2 .block_row .table_td .with_border {
    display: inline-block;
    color: #5d6978;
    font-family: Ubuntu;
    font-size: 15px;
    font-weight: 400;
    padding: 5px 15px;
    background-color: whitesmoke;
    border: 1px solid #161d26;
    margin-bottom: 2px
}

@media screen and (max-width: 639px) {
    #cabinet-container.insulating_strip .text_block1 .block_row .table_td .with_border, #cabinet-container.insulating_strip .text_block2 .block_row .table_td .with_border {
        font-size: 11px
    }
}

#cabinet-container.insulating_strip .text_block2 {
    border-top: 0;
    padding-top: 50px;
    border-bottom: 0
}

#cabinet-container.insulating_strip .text_block2 > div {
    width: 50%
}

@media screen and (max-width: 959px) {
    #cabinet-container.insulating_strip .text_block2 > div {
        width: 100%
    }
}

#cabinet-container.insulating_strip .text_block2 .left_part .block_row {
    width: 100%
}

#cabinet-container.insulating_strip .text_block2 .left_part .block_row .table_td {
    width: 270px
}

@media screen and (max-width: 959px) {
    #cabinet-container.insulating_strip .text_block2 .left_part .block_row .table_td {
        width: 50%
    }
}

@media screen and (max-width: 639px) {
    #cabinet-container.insulating_strip .text_block2 .left_part .block_row .table_td {
        width: 100%
    }
}

#cabinet-container.insulating_strip .text_block2 .left_part .block_row .table_td:nth-child(2) {
    width: auto
}

#cabinet-container.insulating_strip .text_block2 .right_part .block_row {
    width: 100%
}

#cabinet-container.insulating_strip .text_block2 .right_part .block_row .table_td {
    width: 270px
}

@media screen and (max-width: 639px) {
    #cabinet-container.insulating_strip .text_block2 .right_part .block_row .table_td {
        width: 100%
    }
}

#cabinet-container.insulating_strip .text_block2 .right_part .block_row .table_td:nth-child(2) {
    padding-left: 30px
}

@media screen and (max-width: 639px) {
    #cabinet-container.insulating_strip .text_block2 .right_part .block_row .table_td:nth-child(2) {
        padding-left: 0
    }
}

#cabinet-container.insulating_strip .text_block2 .with_border {
    margin-right: 5px
}

#cabinet-container.insulating_strip .table_border {
    margin-top: 20px;
    margin-bottom: 50px;
    border: 1px solid #d3dae1
}

#cabinet-container.insulating_strip .table_border .table_block {
    display: flex
}

@media screen and (max-width: 959px) {
    #cabinet-container.insulating_strip .table_border .table_block {
        display: block
    }
}

#cabinet-container.insulating_strip .table_border .table_block .table_title {
    color: #192029;
    font-family: Ubuntu;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    width: 214px;
    padding: 26px 23px
}

#cabinet-container.insulating_strip .table_border .table_block .table_wrap {
    width: calc(100% - 214px)
}

@media screen and (max-width: 959px) {
    #cabinet-container.insulating_strip .table_border .table_block .table_wrap {
        width: 100%
    }
}

#cabinet-container.insulating_strip .table_border .table_block .table_wrap .table-mobile td {
    padding: 5px 20px
}

#cabinet-container.insulating_strip .table_border .table_block .table_wrap .table-mobile .param {
    padding-bottom: 15px;
    color: #5d6978;
    font-size: 11px
}

#cabinet-container.insulating_strip .table_border .table_block .table_wrap .table-mobile .param span {
    color: #161d26;
    padding-right: 5px;
    font-weight: bold
}

#cabinet-container.insulating_strip .table_border .table_block .table_wrap .table-mobile .param img {
    max-height: 250px;
    width: auto
}

#cabinet-container.insulating_strip .table_border .table_block .table_wrap .table-mobile .param-first {
    padding-top: 15px
}

@media screen and (max-width: 959px) {
    #cabinet-container.insulating_strip .table_border .table_block .table_wrap table {
        display: none
    }
}

#cabinet-container.insulating_strip .table_border .table_block .table_wrap .table-mobile {
    display: none
}

@media screen and (max-width: 959px) {
    #cabinet-container.insulating_strip .table_border .table_block .table_wrap .table-mobile {
        display: table
    }
}

#cabinet-container.insulating_strip .table_border .table_block .table_wrap span.unchecked {
    width: 38px;
    height: 38px;
    display: inline-block;
    background: url("/thermevo_website_management/static/src/images/certificate_unchecked.png");
    background-size: cover
}

#cabinet-container.insulating_strip .table_border .table_block .table_wrap span.checked {
    width: 38px;
    height: 38px;
    display: inline-block;
    background: url("/thermevo_website_management/static/src/images/certificate_checked.png");
    background-size: cover
}

#cabinet-container.insulating_strip .table_border .table_block .table_wrap .right_td {
    text-align: right
}

#cabinet-container.insulating_strip .table_border .table_block .table_wrap .center_td {
    text-align: center
}

#cabinet-container.insulating_strip .table_border .table_block table {
    width: 100%
}

#cabinet-container.insulating_strip .table_border .table_block table thead tr {
    background: #b6ddf7;
    color: #192029;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: 700;
    line-height: 30px
}

#cabinet-container.insulating_strip .table_border .table_block table thead tr th {
    padding: 24px 12px
}

#cabinet-container.insulating_strip .table_border .table_block table tbody tr {
    border: 1px solid #d3dae1
}

#cabinet-container.insulating_strip .table_border .table_block table tbody td {
    color: #192029;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    padding: 24px 12px
}

#cabinet-container.insulating_strip .uw_tabs .tabs_link {
    padding-left: 0
}

#cabinet-container.insulating_strip .uw_tabs .tabs_link li {
    border: 1px solid #d3dae1;
    background: #f4f4f4;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
    padding: 0;
    width: 49%;
}

#cabinet-container.insulating_strip .uw_tabs .tabs_link li.active {
    background: white;
}

#cabinet-container.insulating_strip .uw_tabs .tabs_link li a {
    font-size: 17px;
    color: #192029;
    display: block;
    padding: 14px 10px
}

#cabinet-container.insulating_strip .uw_tabs .tab {
    height: 1px;
    overflow: hidden
}

#cabinet-container.insulating_strip .uw_tabs .tab.active {
    height: auto
}

#cabinet-container.insulating_strip .tables_wrap_d {
    padding-top: 52px
}

@media screen and (max-width: 959px) {
    #cabinet-container.insulating_strip .tables_wrap_d {
        display: block
    }
}

@media screen and (max-width: 959px) {
    #cabinet-container.insulating_strip .tables_wrap_d > div {
        width: 100%
    }
}

#cabinet-container.insulating_strip .tables_wrap_d .table_row {
    padding-bottom: 22px
}

@media screen and (max-width: 639px) {
    #cabinet-container.insulating_strip .tables_wrap_d .one_table .table_row {
        display: block;
        padding-bottom: 5px
    }
}

#cabinet-container.insulating_strip .tables_wrap_d .table_row .table_td {
    width: 100%;
    color: #161d26;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px
}

@media screen and (max-width: 639px) {
    #cabinet-container.insulating_strip .tables_wrap_d .table_row .table_td {
        width: 100%;
        font-size: 11px
    }
}

#cabinet-container.insulating_strip .tables_wrap_d .table_row .table_td.td_label {
    color: #192029;
    font-size: 24px;
    font-weight: 700
}

@media screen and (max-width: 639px) {
    #cabinet-container.insulating_strip .tables_wrap_d .table_row .table_td.td_label {
        font-size: 14px
    }
}

#cabinet-container.insulating_strip .tables_wrap_d .table_row .table_td .with_border {
    display: inline-block;
    color: #5d6978;
    font-size: 15px;
    font-weight: 400;
    padding: 5px 15px;
    background-color: whitesmoke;
    border: 1px solid #161d26
}

#product_statistic{
    border: none;
    padding: 0 !important;
}

#product_statistic .section{
    padding: 0 !important;
}