#cabinet-container.invoice_new {
    padding-top: 28px
}

#cabinet-container.invoice_new .profile-content {
    width: 100%
}

#cabinet-container.invoice_new .tabs_f {
    border-bottom: 1px solid #d3dae1
}

#cabinet-container.invoice_new .tabs_f .section {
    position: relative;
    top: 1px
}

#cabinet-container.invoice_new .tabs_f .btn-filtr {
    border: 1px solid #d3dae1;
    background: #f4f4f4;
    display: inline-block;
    margin-right: 15px;
    width: 200px;
    text-align: center
}

@media screen and (max-width: 959px) {
    #cabinet-container.invoice_new .tabs_f .btn-filtr {
        width: calc(50% - 2px);
        margin: 0px;
        margin-top: 3px
    }
}

@media screen and (max-width: 500px) {
    #cabinet-container.invoice_new .tabs_f .btn-filtr {
        width: 100%;
        margin: 0px;
        margin-top: 3px
    }
}

#cabinet-container.invoice_new .tabs_f .btn-filtr a {
    font-size: 17px;
    color: #192029;
    display: block;
    padding: 14px 10px
}

#cabinet-container.invoice_new .tabs_f .btn-filtr a span.count {
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 19px;
    background: #015995;
    border-radius: 50%;
    font-size: 10px;
    color: white;
    margin-left: 9px;
    display: inline-block
}

#cabinet-container.invoice_new .tabs_f .btn-filtr.active {
    background: white;
    border-bottom: 1px
}

#cabinet-container.invoice_new .update_btn {
    margin-bottom: 60px
}

#cabinet-container.invoice_new h1 {
    margin-bottom: 26px;
    margin-top: 42px
}

#cabinet-container.invoice_new .basket_steps .basket_step {
    position: relative;
    background: #fff;
    border: 1px solid #d3dae1;
    padding-left: 50px;
    padding-right: 20px
}

#cabinet-container.invoice_new .basket_steps .basket_step.active {
    background: #015995
}

#cabinet-container.invoice_new .basket_steps .basket_step.active a {
    color: #fff
}

#cabinet-container.invoice_new .basket_steps .basket_step.active:after, #cabinet-container.invoice_new .basket_steps .active.basket_step:before {
    border-left-color: #015995
}

#cabinet-container.invoice_new .basket_steps .basket_step.active:before {
    border-left-color: #fff
}

#cabinet-container.invoice_new .basket_steps .basket_step.selectd_prev {
    background: #2297e6
}

#cabinet-container.invoice_new .basket_steps .basket_step.selectd_prev a {
    color: #fff
}

#cabinet-container.invoice_new .basket_steps .basket_step.selectd_prev:after, #cabinet-container.invoice_new .basket_steps .selectd_prev.basket_step:before {
    border-left-color: #2297e6
}

#cabinet-container.invoice_new .basket_steps .basket_step.selectd_prev:before {
    border-left-color: #fff
}

#cabinet-container.invoice_new .basket_steps .basket_step:nth-child(1) {
    padding-left: 20px;
    z-index: 5
}

#cabinet-container.invoice_new .basket_steps .basket_step:nth-child(2) {
    z-index: 4;
    margin-left: -6px
}

#cabinet-container.invoice_new .basket_steps .basket_step:nth-child(3) {
    z-index: 3;
    margin-left: -12px
}

#cabinet-container.invoice_new .basket_steps .basket_step:nth-child(4) {
    z-index: 2;
    margin-left: -18px
}

#cabinet-container.invoice_new .basket_steps .basket_step:nth-child(5) {
    z-index: 1;
    margin-left: -18px
}


#cabinet-container.invoice_new .basket_steps .basket_step a {
    padding-right: 0;
    padding-left: 0
}

#cabinet-container.invoice_new .basket_steps .basket_step:after, #cabinet-container.invoice_new .basket_steps .basket_step:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(34, 151, 230, 0);
    border-left-color: #fff;
    border-width: 30px;
    margin-top: -30px
}

#cabinet-container.invoice_new .basket_steps .basket_step:before {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #d3dae1;
    border-width: 31px;
    margin-top: -31px
}

#cabinet-container.invoice_new .info-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start
}

#cabinet-container.invoice_new .info-block > div {
    width: 50%
}

#cabinet-container.invoice_new .info-block .label {
    font-size: 24px;
    font-weight: bold;
    color: #192029;
    padding: 0px;
    text-align: left;
    width: 228px;
    padding-top: 4px;
    white-space: normal
}

@media screen and (max-width: 959px) {
    #cabinet-container.invoice_new .info-block .label {
        width: 100%;
        padding-bottom: 10px
    }
}

#cabinet-container.invoice_new .info-block .info {
    font-size: 17px;
    color: #161d26;
    line-height: 30px;
    padding-bottom: 18px;
    width: calc(100% - 238px)
}

@media screen and (max-width: 959px) {
    #cabinet-container.invoice_new .info-block .info {
        width: 100%
    }
}

#cabinet-container.invoice_new .info-block .info .blue {
    font-size: 24px;
    color: #428bca
}

#cabinet-container.invoice_new .info-block .links {
    width: 100%;
    padding-top: 39px
}

@media screen and (max-width: 959px) {
    #cabinet-container.invoice_new .info-block .links {
        padding-top: 10px
    }
}

#cabinet-container.invoice_new .info-block .links .print {
    margin-top: 10px
}

@media screen and (max-width: 699px) {
    #cabinet-container.invoice_new .info-block .links {
        padding-top: 0px;
        padding-bottom: 15px
    }
}

#cabinet-container.invoice_new .info-block .report {
    font-size: 17px;
    color: #192029;
    display: inline-block;
    border: 1px solid #d3dae1;
    line-height: 52px;
    padding: 0px 51px;
    margin-right: 17px
}

#cabinet-container.invoice_new .red-btn-link-small {
    background-color: #e62e4c;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 0 30px 0 35px;
    position: relative;
    text-decoration: none;
    z-index: 2;
    border: none;
    line-height: 52px;
    font-size: 20px;
    font-weight: 700
}

#cabinet-container.invoice_new .red-btn-link-small:before {
    background: url("/thermevo_website_management/static/src/images/red_btn_icon.png");
    background-repeat: no-repeat;
    background-position: center !important;
    content: '';
    height: 52px;
    position: absolute;
    right: -14px;
    width: 16px;
    z-index: 3;
    background-size: 10px 16px
}

#cabinet-container.invoice_new .red-btn-link-small:after {
    content: '';
    border-top: 26px solid transparent;
    border-left: 26px solid #e62e4c;
    border-bottom: 26px solid transparent;
    height: 0;
    position: absolute;
    top: 0;
    right: -26px;
    width: 0;
    z-index: 2
}

#cabinet-container.invoice_new .blue-btn-link-small {
    background-color: #015995;
    color: #fff;
    display: inline-block;
    padding: 0 30px 0 35px;
    position: relative;
    text-decoration: none;
    z-index: 2;
    border: none;
    line-height: 52px;
    font-size: 20px;
    font-weight: 700
}


#cabinet-container.invoice_new .my-articles-table {
    width: 100%;
    margin-top: 15px
}

#cabinet-container.invoice_new .my-articles-table tr th {
    padding: 31px 15px;
    text-align: left
}

#cabinet-container.invoice_new .my-articles-table tr th.th_right {
    text-align: right
}

#cabinet-container.invoice_new .my-articles-table tr th.th_center {
    text-align: center
}

#cabinet-container.invoice_new .my-articles-table td {
    color: #192029;
    font-size: 13px;
    padding: 26px 10px;
    vertical-align: top
}

#cabinet-container.invoice_new .my-articles-table .td1 {
    width: 10%;
    text-align: center
}

#cabinet-container.invoice_new .my-articles-table .td1 img {
    max-width: 100%;
    height: auto
}

#cabinet-container.invoice_new .my-articles-table .td2 {
    width: 35%
}

#cabinet-container.invoice_new .my-articles-table .td3 {
    width: 11%;
    text-align: right
}

#cabinet-container.invoice_new .my-articles-table .td4 {
    width: 11%;
    text-align: center
}

#cabinet-container.invoice_new .my-articles-table .td5 {
    width: 11%;
    text-align: right
}

#cabinet-container.invoice_new .my-articles-table .td6 {
    width: 11%;
    text-align: center
}

#cabinet-container.invoice_new .my-articles-table .td7 {
    width: 11%;
    text-align: right
}

#cabinet-container.invoice_new .my-articles-table td {
    color: #192029;
    font-size: 13px;
    padding: 26px 10px;
    vertical-align: top
}

#cabinet-container.invoice_new .my-articles-table .tdso1 {
    width: 10%;
    text-align: center
}

#cabinet-container.invoice_new .my-articles-table .tdso1 img {
    max-width: 100%;
    height: auto
}

#cabinet-container.invoice_new .my-articles-table .tdso2 {
    width: 35%
}

#cabinet-container.invoice_new .my-articles-table .tdso3, #cabinet-container.invoice_new .my-articles-table .tdso4, #cabinet-container.invoice_new .my-articles-table .tdso5, #cabinet-container.invoice_new .my-articles-table .tdso6, #cabinet-container.invoice_new .my-articles-table .tdso7, #cabinet-container.invoice_new .my-articles-table .tdso8 {
    width: 10%
}

#cabinet-container.invoice_new .my-articles-table .tdso3, #cabinet-container.invoice_new .my-articles-table .tdso5, #cabinet-container.invoice_new .my-articles-table .tdso6, #cabinet-container.invoice_new .my-articles-table .tdso8 {
    text-align: right
}

#cabinet-container.invoice_new .my-articles-table .tdso4, #cabinet-container.invoice_new .my-articles-table .tdso7 {
    text-align: center
}

#cabinet-container.invoice_new .top_info, #cabinet-container.invoice_new .bottom_info {
    padding-top: 42px;
    display: flex;
    flex-wrap: wrap
}

#cabinet-container.invoice_new .top_info > div, #cabinet-container.invoice_new .bottom_info > div {
    width: 50%
}

@media screen and (max-width: 699px) {
    #cabinet-container.invoice_new .top_info > div, #cabinet-container.invoice_new .bottom_info > div {
        width: 100%
    }
}

#cabinet-container.invoice_new .bottom_info_sp2 {
    padding-bottom: 60px
}

#cabinet-container.invoice_new .bottom_info {
    padding-top: 67px
}

#cabinet-container.invoice_new .total_wrap {
    text-align: right;
    padding-top: 22px
}

#cabinet-container.invoice_new .total_wrap > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end
}

#cabinet-container.invoice_new .total_wrap .label {
    font-size: 17px;
    color: #192029
}

#cabinet-container.invoice_new .total_wrap .value {
    font-size: 17px;
    color: #192029;
    width: 145px
}

#cabinet-container.invoice_new .total_wrap .total {
    padding-top: 15px
}

#cabinet-container.invoice_new .total_wrap .total .label {
    font-size: 24px;
    font-weight: bold
}

#cabinet-container.invoice_new .total_wrap .total .value {
    font-size: 24px;
    font-weight: bold
}

#cabinet-container.invoice_new .total_wrap .balance .label {
    font-weight: normal
}

#cabinet-container.invoice_new .leave_comment_wrap {
    border-top: 1px solid #d3dae1;
    margin-top: 38px;
    padding-top: 31px;
    padding-bottom: 100px
}

#cabinet-container.invoice_new .leave_comment_wrap .comment_title {
    font-size: 40px;
    color: #161d26;
    font-weight: bold
}

@media screen and (max-width: 699px) {
    #cabinet-container.invoice_new .leave_comment_wrap .comment_title {
        font-size: 30px
    }
}

#cabinet-container.invoice_new .leave_comment_wrap .leave_comment {
    display: flex;
    padding-top: 32px;
    padding-left: 5px
}

#cabinet-container.invoice_new .leave_comment_wrap .comment_img {
    padding-right: 13px
}

#cabinet-container.invoice_new .leave_comment_wrap .comment_img img {
    max-width: 100%;
    height: auto
}

#cabinet-container.invoice_new .leave_comment_wrap .comment_form {
    max-width: 773px;
    width: 100%
}

#cabinet-container.invoice_new .leave_comment_wrap textarea {
    border: 1px solid #161d26;
    width: 100%;
    height: 139px;
    resize: none;
    padding: 16px 28px;
    word-spacing: 2px
}

#cabinet-container.invoice_new .leave_comment_wrap .submit.blue {
    background: #015995;
    color: white;
    font-size: 20px;
    border: 0px;
    box-shadow: none;
    margin-top: 21px;
    line-height: 54px;
    padding: 0px 43px
}

#cabinet-container.invoice_new .bottom_buttons {
    padding-top: 60px;
    text-align: center
}

#cabinet-container.invoice_new .bottom_buttons .accept {
    background: #00a651;
    color: white
}

#cabinet-container.invoice_new .bottom_buttons .accept:before {
    content: "\f00c";
    font-family: FontAwesome
}

#cabinet-container.invoice_new .bottom_buttons .feedback {
    background: #9bcced;
    color: white
}

#cabinet-container.invoice_new .bottom_buttons .feedback:before {
    content: "\f075";
    font-family: FontAwesome
}

#cabinet-container.invoice_new .bottom_buttons .reject {
    background: #e62e4c;
    color: white
}

#cabinet-container.invoice_new .bottom_buttons .reject:before {
    content: "\f00d";
    font-family: FontAwesome
}

#cabinet-container.invoice_new .bottom_buttons .print {
    background: #015995;
    color: white;
    line-height: 55px;
    position: relative;
    top: -2px
}

#cabinet-container.invoice_new .bottom_buttons .print:before {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("/thermevo_website_management/static/src/images/data/print_ico.png")
}

#cabinet-container.invoice_new .bottom_buttons a {
    line-height: 50px;
    display: inline-block;
    font-size: 17px;
    width: 190px;
    margin-bottom: 5px;
    cursor: pointer;
}

#cabinet-container.invoice_new .bottom_buttons a:before {
    font-size: 30px;
    margin-right: 12px
}
