#iqub-container.new_catalog .upload-drawing {
    margin-bottom: 40px
}

#iqub-container.new_catalog .product_filter {
    list-style: none;
    padding: 0px;
    margin-bottom: 40px
}

#iqub-container.new_catalog .product_filter li {
    display: inline-block;
    padding-right: 80px
}

@media screen and (max-width: 639px) {
    #iqub-container.new_catalog .product_filter li {
        display: block
    }
}

#iqub-container.new_catalog .product_filter li a {
    color: #005c9c;
    font-family: Ubuntu;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px
}

#iqub-container.new_catalog .product_filter li a.active, #iqub-container.new_catalog .product_filter li a:hover {
    color: #ff4060
}

@media screen and (min-width: 960px) {
    #iqub-container.new_catalog .section .wrap-search {
        float: left;
        width: auto
    }

    #iqub-container.new_catalog .section .wrap-search .form-catalog .form-top input[type=text] {
        width: 480px !important;
        margin-right: 0px
    }

    #iqub-container.new_catalog .section .content.catalog .sort-container {
        float: right !important;
        width: auto !important;
        margin-top: 30px
    }
}

@media screen and (max-width: 639px) {
    #iqub-container.new_catalog .section .wrap-search .form-catalog .form-top {
        padding-right: 80px;
        position: relative
    }

    #iqub-container.new_catalog .section .wrap-search .form-catalog .form-top input[type=submit] {
        position: absolute;
        right: 0px;
        margin: 0px;
        display: block
    }
}

#iqub-container.new_catalog .section .group_product {
    clear: both
}

#iqub-container.new_catalog .section .group_product .group_product_title {
    background: #d2e8f6;
    color: black;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 700;
    line-height: 60px;
    padding-left: 30px;
    margin-bottom: 40px
}

#iqub-container.new_catalog .section .content.catalog .list-products .group_product:nth-child(2n) .product:after {
    background: #5c9bc3
}

#iqub-container.new_catalog .section .content.catalog .list-products .group_product .product {
    text-align: center;
    height: 475px;
    border: 1px solid #d3dae1;
    position: relative
}

@media screen and (max-width: 639px) {
    #iqub-container.new_catalog .section .content.catalog .list-products .group_product .product {
        width: 290px
    }
}

#iqub-container.new_catalog .section .content.catalog .list-products .group_product .product:hover {
    border: 1px solid #d3dae1
}

#iqub-container.new_catalog .section .content.catalog .list-products .group_product .product.big_border {
    border: 3px solid #d3dae1
}

#iqub-container.new_catalog .section .content.catalog .list-products .group_product .product.big_border:hover {
    border: 3px solid #d3dae1
}

#iqub-container.new_catalog .section .content.catalog .list-products .group_product .product:after {
    content: ' ';
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 10px;
    background: #e3d802;
    display: block
}

#iqub-container.new_catalog .section .content.catalog .list-products .group_product .product .img {
    display: flex;
    align-items: center;
    height: 210px !important;
    justify-content: center
}

#iqub-container.new_catalog .section .content.catalog .list-products .group_product .product .img img {
    height: auto;
    width: auto;
    display: inline-block
}

#iqub-container.new_catalog .section .content.catalog .list-products .group_product .product.yum .img img {
    max-width: 50%;
    max-height: 50%
}

#iqub-container.new_catalog .section .content.catalog .list-products .group_product .product .plus {
    background: url("/thermevo_website_management/static/src/images/plus.png");
    display: inline-block;
    width: 39px;
    height: 38px;
    margin-top: 5px
}

#iqub-container.new_catalog .section .content.catalog .list-products .group_product .product .plus:hover {
    background-position: 39px 0px
}

#iqub-container.new_catalog .section .content.catalog .list-products .group_product .product .title_desc {
    min-height: 105px
}

#iqub-container.new_catalog .section .content.catalog .list-products .group_product .product .title {
    font-family: Ubuntu;
    font-size: 17px;
    color: #161d26;
    font-weight: 700;
    line-height: 21px;
    display: block;
    max-height: 84px;
    overflow: hidden
}

#iqub-container.new_catalog .section .content.catalog .list-products .group_product .product .desc {
    font-family: Ubuntu;
    font-size: 17px;
    color: #5d6978;
    font-weight: 400;
    line-height: 20px;
    display: block
}

#iqub-container.new_catalog .section .content.catalog .list-products .group_product .product .article {
    display: block;
    padding-top: 10px;
    height: 76px
}

#iqub-container.new_catalog .section .content.catalog .list-products .group_product .product .article a {
    font-family: Ubuntu;
    font-size: 13px;
    line-height: 15px;
    color: #015995;
    font-weight: 400
}

#iqub-container.new_catalog .section .content.catalog .list-products .group_product .product .article a span {
    font-weight: 700;
    padding-right: 10px
}

#iqub-container.new_catalog .section .content.catalog .list-products .group_product .product .article a:hover {
    color: #e62e4c
}

#iqub-container.new_catalog .section .content.catalog .list-products .group_product .product .price {
    font-family: Ubuntu;
    font-size: 13px;
    line-height: 15px;
    color: #5d6978;
    font-weight: 400
}
