.o_website_quote {
    padding-bottom: 80px
}

.o_website_quote h1 span, .o_website_quote h1 em, .o_website_quote h1 small {
    color: #161d26;
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 40px 0
}

.o_website_quote h1 small {
    display: block;
    font-size: 30px
}

.o_website_quote h1 .btn-info {
    font-size: 17px;
    color: #161d26;
    line-height: 40px;
    display: inline-block;
    padding: 0px 20px;
    margin-right: 20px;
    background: #015995;
    color: #ffffff;
    border: 1px solid #015995;
    border-radius: 0px
}

.o_website_quote h1 .pull-right {
    clear: both;
    float: none !important;
    margin-bottom: 60px
}

.o_website_quote .bs-sidebar {
    border-radius: 0px
}

.o_website_quote .bs-sidebar .navspy {
    display: none
}

.o_website_quote .bs-sidebar .btn-block {
    font-size: 17px;
    color: #161d26;
    line-height: 40px;
    display: inline-block;
    padding: 0px 20px;
    margin-right: 20px;
    background: #015995;
    color: #ffffff;
    border: 1px solid #015995;
    border-radius: 0px
}

.o_website_quote #comment .btn-primary {
    font-size: 17px;
    color: #161d26;
    line-height: 40px;
    display: inline-block;
    padding: 0px 20px;
    margin-right: 20px;
    background: #015995;
    color: #ffffff;
    border: 1px solid #015995;
    border-radius: 0px
}

.o_website_quote .col-md-9 label {
    font-weight: bold
}

.o_website_quote .page-header {
    margin: 0px 0px 50px 0px
}

.o_website_quote #quote_header_2 {
    border: 0px;
    padding-top: 20px
}

.o_website_quote #quote_header_2 h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border: 0px
}

.o_website_quote #iqub-container {
    border-top: 0px;
    padding-top: 20px
}

.o_website_quote #iqub-container .section {
    padding: 0px;
    width: 100%
}

.o_website_quote #iqub-container .section .shopping_content {
    width: 100% !important
}

.o_website_quote #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .annual {
    margin-left: 20px
}

.o_website_quote #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .annual, .o_website_quote #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .quantity {
    width: 200px
}
