#cabinet-container.portfolio_inner {
    padding-top: 80px;
    color: #192029
}

@media screen and (max-width: 959px) {
    #cabinet-container.portfolio_inner {
        padding-top: 40px
    }
}

#cabinet-container.portfolio_inner h1 {
    font-family: Ubuntu;
    font-size: 53px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 2px
}

@media screen and (max-width: 1279px) {
    #cabinet-container.portfolio_inner h1 {
        font-size: 30px;
        line-height: 40px;
        margin: 0px
    }
}

#cabinet-container.portfolio_inner .portfolio-content {
    width: 100%
}

#cabinet-container.portfolio_inner .portfolio-title {
    display: flex
}

@media screen and (max-width: 639px) {
    #cabinet-container.portfolio_inner .portfolio-title {
        display: block
    }
}

#cabinet-container.portfolio_inner .portfolio_top_price {
    color: #161d26;
    font-family: Ubuntu;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px
}

@media screen and (max-width: 639px) {
    #cabinet-container.portfolio_inner .portfolio_top_price {
        font-size: 26px
    }
}

#cabinet-container.portfolio_inner .portfolio-container {
    padding-top: 43px
}

#cabinet-container.portfolio_inner .portfolio-container span.unchecked {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url("/thermevo_website_management/static/src/images/certificate_unchecked.png");
    background-size: cover
}

    #cabinet-container.portfolio_inner .portfolio-container span.checked {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url("/thermevo_website_management/static/src/images/certificate_checked.png");
    background-size: cover
}

#cabinet-container.portfolio_inner .portfolio-container .two_column {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px
}

@media screen and (max-width: 639px) {
    #cabinet-container.portfolio_inner .portfolio-container .two_column {
        margin-bottom: 20px
    }
}

#cabinet-container.portfolio_inner .portfolio-container .two_column.bottom_border {
    border-bottom: 1px solid #d3dae1
}

#cabinet-container.portfolio_inner .portfolio-container .two_column .column {
    width: 50%
}

@media screen and (max-width: 959px) {
    #cabinet-container.portfolio_inner .portfolio-container .two_column .column {
        width: 100%
    }
}

#cabinet-container.portfolio_inner .portfolio-container .two_column .column_title {
    color: #161d26;
    font-family: Ubuntu;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    padding-bottom: 20px
}

#cabinet-container.portfolio_inner .portfolio-container .two_column .row_column {
    display: flex;
    width: 100%;
    margin-bottom: 22px
}

@media screen and (max-width: 639px) {
    #cabinet-container.portfolio_inner .portfolio-container .two_column .row_column {
        flex-wrap: wrap
    }
}

#cabinet-container.portfolio_inner .portfolio-container .two_column .row_column .label_item {
    width: 275px;
    color: #192029;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px
}

@media screen and (max-width: 639px) {
    #cabinet-container.portfolio_inner .portfolio-container .two_column .row_column .label_item {
        width: 100%
    }
}

#cabinet-container.portfolio_inner .portfolio-container .two_column .row_column .info_item {
    color: #161d26;
    font-family: Ubuntu;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    padding-right: 10px;
    word-break: break-word
}

#cabinet-container.portfolio_inner .portfolio-container .two_column .row_column .info_item a {
    color: #428bca
}

#cabinet-container.portfolio_inner .portfolio-container .two_column .row_column .info_item .star {
    display: inline-block;
    width: 24px;
    height: 23px;
    background: url("/thermevo_shop/static/images/star_noactive.png")
}

#cabinet-container.portfolio_inner .portfolio-container .two_column .row_column .info_item .star.active {
    background: url("/thermevo_shop/static/images/star_active.png")
}

#cabinet-container.portfolio_inner .portfolio-container .two_column .row_column .info_item .tag {
    display: inline-block;
    color: #5d6978;
    font-family: Ubuntu;
    font-size: 15px;
    font-weight: 400;
    padding: 5px 15px;
    background-color: whitesmoke;
    border: 1px solid #161d26;
    margin-right: 2px
}

#cabinet-container.portfolio_inner .portfolio-container .two_column > div {
    margin-right: 0 !important;
}

#cabinet-container.portfolio_inner .portfolio-container .table_wrap {
    margin-bottom: 40px
}

#cabinet-container.portfolio_inner .portfolio-container .table_wrap .table-mobile td {
    padding: 5px 20px
}

#cabinet-container.portfolio_inner .portfolio-container .table_wrap .table-mobile .param {
    padding-bottom: 15px;
    color: #5d6978;
    font-size: 11px
}

#cabinet-container.portfolio_inner .portfolio-container .table_wrap .table-mobile .param span {
    color: #161d26;
    padding-right: 5px;
    font-weight: bold
}

#cabinet-container.portfolio_inner .portfolio-container .table_wrap .table-mobile .param img {
    max-height: 250px;
    width: auto
}

#cabinet-container.portfolio_inner .portfolio-container .table_wrap .table-mobile .param-first {
    padding-top: 15px
}

@media screen and (max-width: 959px) {
    #cabinet-container.portfolio_inner .portfolio-container .table_wrap table {
        display: none
    }
}

#cabinet-container.portfolio_inner .portfolio-container .table_wrap .table-mobile {
    display: none
}

@media screen and (max-width: 959px) {
    #cabinet-container.portfolio_inner .portfolio-container .table_wrap .table-mobile {
        display: table
    }
}

#cabinet-container.portfolio_inner .portfolio-container .table_wrap .center_td {
    text-align: center
}

#cabinet-container.portfolio_inner .portfolio-container .table_wrap table {
    width: 100%
}

#cabinet-container.portfolio_inner .portfolio-container .table_wrap table .center_td {
    text-align: center
}

#cabinet-container.portfolio_inner .portfolio-container .table_wrap table .left_td {
    width: 40%
}

#cabinet-container.portfolio_inner .portfolio-container .table_wrap table thead tr {
    background: #b6ddf7;
    color: #192029;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: 700;
    line-height: 30px
}

#cabinet-container.portfolio_inner .portfolio-container .table_wrap table thead tr th {
    padding: 24px 12px
}

#cabinet-container.portfolio_inner .portfolio-container .table_wrap table tbody tr {
    border: 1px solid #d3dae1
}

#cabinet-container.portfolio_inner .portfolio-container .table_wrap table tbody td {
    color: #192029;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    padding: 24px 12px
}
