#cabinet-container.price-quotation {
    padding-top: 28px
}

#cabinet-container.price-quotation .tabs_f {
    border-bottom: 1px solid #d3dae1
}

#cabinet-container.price-quotation .tabs_f .section {
    position: relative;
    top: 1px
}

#cabinet-container.price-quotation .tabs_f .btn-filtr {
    border: 1px solid #d3dae1;
    background: #efefef;
    display: inline-block;
    margin-right: 15px;
    width: 185px;
    text-align: center
}

@media screen and (max-width: 959px) {
    #cabinet-container.price-quotation .tabs_f .btn-filtr {
        width: calc(50% - 2px);
        margin: 0px;
        margin-top: 3px
    }
}

@media screen and (max-width: 500px) {
    #cabinet-container.price-quotation .tabs_f .btn-filtr {
        width: 100%;
        margin: 0px;
        margin-top: 3px
    }
}

#cabinet-container.price-quotation .tabs_f .btn-filtr a {
    font-size: 17px;
    color: #192029;
    display: block;
    padding: 14px 10px
}

#cabinet-container.price-quotation .tabs_f .btn-filtr a span.count {
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 19px;
    background: #015995;
    border-radius: 50%;
    font-size: 10px;
    color: white;
    margin-left: 9px;
    display: inline-block
}

#cabinet-container.price-quotation .tabs_f .btn-filtr.active {
    background: white;
    border-bottom: 1px
}

#cabinet-container.price-quotation h1 {
    margin-bottom: 60px;
    margin-top: 42px
}

#cabinet-container.price-quotation .my-articles-sort .sort-container {
    margin-right: 30px
}

#cabinet-container.price-quotation .my-articles-sort .sort-container label {
    font-size: 13px
}

#cabinet-container.price-quotation .search_content {
    float: left;
    padding-top: 35px
}

#cabinet-container.price-quotation .search_content form {
    position: relative
}

#cabinet-container.price-quotation .search_content form input[type="text"] {
    border: 1px solid #30363e;
    line-height: 36px;
    padding-left: 20px;
    width: 353px;
    font-size: 17px
}

#cabinet-container.price-quotation .search_content form input[type="submit"] {
    background: url("/thermevo_shop/static/images/quotation_search.png") !important;
    width: 25px;
    height: 25px;
    display: block;
    border: 0;
    text-indent: -9999px;
    position: absolute;
    right: 12px;
    top: 7px
}

#cabinet-container.price-quotation .profile-content {
    width: 100%
}

#cabinet-container.price-quotation .profile-content .what {
    width: auto
}

#cabinet-container.price-quotation .profile-content .cart_ico {
    display: inline-block;
    width: 23px;
    height: 30px;
    background: url("/thermevo_shop/static/images/cart_ico.png") !important;
    margin: 0 5px
}

#cabinet-container.price-quotation .profile-content .dollar_ico {
    display: inline-block;
    width: 23px;
    height: 30px;
    background: url("/thermevo_shop/static/images/dollar_ico.png") !important;
    margin: 0 5px
}

#cabinet-container.price-quotation .profile-content .list_ico {
    display: inline-block;
    width: 23px;
    height: 30px;
    background: url("/thermevo_shop/static/images/list_ico.png") !important;
    margin: 0 5px
}

#cabinet-container.price-quotation .my-articles-table tr td {
    padding: 30px 10px;
    width: auto;
    text-align: center
}

#cabinet-container.price-quotation .my-articles-table tr td span.count {
    width: 19px;
    height: 19px;
    text-align: center;
    line-height: 19px;
    background: #015995;
    border-radius: 50%;
    font-size: 10px;
    color: white;
    margin-left: 9px;
    display: inline-block
}

#cabinet-container.price-quotation .total_wrap {
    border: 1px solid #d3dae1;
    border-top: 0;
    text-align: center
}

#cabinet-container.price-quotation .total_wrap .total {
    background: #b6ddf7
}

#cabinet-container.price-quotation .total_wrap .commision {
    background: #95cbee
}

#cabinet-container.price-quotation .total_wrap .total, #cabinet-container.price-quotation .total_wrap .commision {
    text-align: right;
    display: inline-block;
    width: 150px;
    padding-right: 10px;
    padding-top: 19px;
    margin: 0 -2px
}

#cabinet-container.price-quotation .total_wrap .total .label, #cabinet-container.price-quotation .total_wrap .commision .label {
    color: #192029;
    font-size: 13px;
    font-weight: normal;
    padding: 0
}

#cabinet-container.price-quotation .total_wrap .total .value, #cabinet-container.price-quotation .total_wrap .commision .value {
    color: #192029;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 12px
}

@media screen and (max-width: 959px) {
    #cabinet-container.price-quotation .my-articles-table {
        display: none
    }

    #cabinet-container.price-quotation .my-articles-table-mobile {
        display: block;
        display: table
    }
}
