#cabinet-container.purchase_order {
    padding-top: 80px
}

@media screen and (max-width: 959px) {
    #cabinet-container.purchase_order {
        padding-top: 40px
    }
}

#cabinet-container.purchase_order .filtr {
    width: 100%
}

#cabinet-container.purchase_order .filtr .menu {
    width: 100%;
    display: flex;
    justify-content: space-between
}

@media screen and (max-width: 639px) {
    #cabinet-container.purchase_order .filtr .menu {
        display: block
    }
}

#cabinet-container.purchase_order .filtr .menu .btn-filtr {
    width: 24%;
    margin-right: 0px;
    margin-left: 0px
}

@media screen and (max-width: 639px) {
    #cabinet-container.purchase_order .filtr .menu .btn-filtr {
        width: 100%
    }
}

#cabinet-container.purchase_order .filtr .menu .btn-filtr:hover, #cabinet-container.purchase_order .filtr .menu .btn-filtr.active {
    background: #015995;
    border: 1px solid #015995;
    width: 24%
}

@media screen and (max-width: 639px) {
    #cabinet-container.purchase_order .filtr .menu .btn-filtr:hover, #cabinet-container.purchase_order .filtr .menu .btn-filtr.active {
        width: 100%
    }
}

#cabinet-container.purchase_order .profile-content {
    width: 100%
}

#cabinet-container.purchase_order .profile-content th {
    text-align: center
}

@media screen and (max-width: 1200px) {
    #cabinet-container.purchase_order .profile-content th {
        padding: 30px 10px
    }
}

#cabinet-container.purchase_order .profile-content td {
    text-align: center
}

@media screen and (max-width: 1200px) {
    #cabinet-container.purchase_order .profile-content td {
        padding: 25px 10px
    }
}

#cabinet-container.purchase_order .profile-content .td25 {
    width: 40%
}

#cabinet-container.purchase_order .profile-content .td10 {
    width: 9%
}

#cabinet-container.purchase_order .profile-content .td5 {
    width: 2%;
    padding: 30px 5px
}

#cabinet-container.purchase_order .profile-content .circle_status {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%
}

#cabinet-container.purchase_order .profile-content .circle_status.red {
    background: red
}

#cabinet-container.purchase_order .profile-content .circle_status.yellow {
    background: yellow
}

#cabinet-container.purchase_order .profile-content .circle_status.green {
    background: green
}

@media screen and (max-width: 959px) {
    #cabinet-container.purchase_order .profile-content .my-articles-table {
        display: none
    }
}

@media screen and (max-width: 959px) {
    #cabinet-container.purchase_order .profile-content .my-articles-table-mobile {
        display: table
    }
}

#cabinet-container.purchase_order .profile-content .my-articles-table-mobile td {
    padding: 5px 20px;
    text-align: left
}

#cabinet-container.purchase_order .profile-content .my-articles-table-mobile td .param-first {
    padding-top: 15px
}

#cabinet-container.purchase_order .profile-content .my-articles-table-mobile td .param {
    padding-bottom: 15px;
    color: #5d6978;
    font-size: 11px;
    display: flex;
    align-items: center
}

#cabinet-container.purchase_order .profile-content .my-articles-table-mobile td .param span {
    color: #161d26;
    padding-right: 5px;
    font-weight: bold
}

#cabinet-container.purchase_order .profile-content .my-articles-table-mobile td .td_status {
    padding: 20px 10px;
    vertical-align: middle
}
