#iqub-container.shopping_card.basket .section .content {
    width: 100%
}

@media screen and (max-width: 639px) {
    #iqub-container.shopping_card.basket .basket_steps {
        display: none
    }
}

.header_cart {
    position: relative;
    max-width: 1024px;
    display: none
}

.header_cart.hover {
    display: block
}

@media (max-width: 1023px) {
    .header_cart {
        display: none !important
    }
}

.header_cart .cart_item {
    display: table;
    width: 100%
}

.header_cart .cart_item .cart_img {
    display: table-cell;
    width: 100px;
    height: 50px
}

.header_cart .cart_item .cart_img img {
    max-height: 50px;
    max-width: 95px
}

.header_cart .cart_item .cart_link {
    color: #015995;
    font-family: Ubuntu;
    font-size: 15px;
    line-height: 60px;
    font-weight: 400
}

.header_cart .cart_item .cart_link strong {
    font-weight: 700
}

.header_cart .header_cart_close {
    background: #e62e4c;
    color: white;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 0;
    line-height: 40px;
    text-align: center;
    cursor: pointer
}

.header_cart .header_cart_close:before {
    content: '\f077';
    font: normal normal normal 16px/1 FontAwesome
}

#iqub-container.shopping_card input[type=radio] + label:before, #iqub-container.shopping_card input[type=checkbox] + label:before {
    margin-right: 30px
}

#iqub-container.shopping_card .section .content .upload-drawing {
    margin-bottom: 50px
}

#iqub-container.shopping_card .section .content .policies_right {
    display: inline-block;
    width: 310px;
    float: right
}

@media (max-width: 1279px) {
    #iqub-container.shopping_card .section .content .policies_right {
        width: 100%;
        float: none;
        display: block
    }
}

#iqub-container.shopping_card .section .content .policies_right .block {
    padding-bottom: 80px
}

@media (max-width: 1279px) {
    #iqub-container.shopping_card .section .content .policies_right .block {
        padding-bottom: 0;
        padding-top: 40px
    }
}

#iqub-container.shopping_card .section .content .policies_right .title {
    color: #161d26;
    font-size: 17px;
    line-height: 30px;
    font-family: Ubuntu;
    font-weight: 700;
    padding-left: 22px;
    padding-bottom: 25px
}

#iqub-container.shopping_card .section .content .policies_right .text {
    color: #161d26;
    font-size: 17px;
    line-height: 30px;
    font-family: Ubuntu;
    font-weight: 400
}

@media screen and (min-width: 1280px) {
    #iqub-container.shopping_card .section .content .shopping_content {
        float: left;
        display: inline-block;
        width: 930px
    }
}

#iqub-container.shopping_card .section .content .shopping_content {
    padding-top: 40px
}

#iqub-container.shopping_card .section .content .shopping_content form {
    padding-top: 0
}

#iqub-container.shopping_card .section .content .shopping_content .operation_list a {
    vertical-align: middle;
    padding-left: 19px;
    padding-right: 19px;
    display: inline-block;
    border: 1px solid #d3dae1;
    color: #161d26;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: 400;
    line-height: 38px;
    margin-right: 5px
}

#iqub-container.shopping_card .section .content .shopping_content .operation_list a:hover, #iqub-container.shopping_card .section .content .shopping_content .operation_list a.active {
    text-decoration: none;
    color: #fff;
    border: 1px solid #015995;
    background: #015995
}

#iqub-container.shopping_card .section .content .shopping_content .operation_list a.change:before {
    content: "\f107";
    font: normal normal normal 22px/1 FontAwesome;
    position: relative;
    top: 3px;
    margin-right: 5px
}

#iqub-container.shopping_card .section .content .shopping_content .operation_list a.change.active:before {
    content: "\f106";
    font: normal normal normal 22px/1 FontAwesome
}

#iqub-container.shopping_card .section .content .shopping_content .operation_list a.delete:before {
    content: "\f00d";
    font: normal normal normal 13px/1 FontAwesome;
    position: relative;
    margin-right: 5px
}

#iqub-container.shopping_card .section .content .shopping_content .operation_list a.foam:before, #iqub-container.shopping_card .section .content .shopping_content .operation_list a.dublicate:before {
    content: "\f067";
    font: normal normal normal 13px/1 FontAwesome;
    position: relative;
    margin-right: 5px
}

#iqub-container.shopping_card .section .content .shopping_content .option_wrap {
    margin-top: 20px
}

#iqub-container.shopping_card .section .content .shopping_content .option_wrap > div {
    background: #daeefb;
    padding-bottom: 35px
}

#iqub-container.shopping_card .section .content .shopping_content .option_wrap .foam_option {
    display: none
}

#iqub-container.shopping_card .section .content .shopping_content .change_option {
    padding-left: 30px;
    padding-top: 31px;
    display: none
}

#iqub-container.shopping_card .section .content .shopping_content .change_option form {
    padding: 0
}

#iqub-container.shopping_card .section .content .shopping_content .change_option form span.label {
    color: #161d26;
    font-family: Ubuntu;
    font-size: 17px;
    font-weight: 400;
    position: relative;
    top: 6px;
    width: 87px;
    display: inline-block;
    text-align: left
}

#iqub-container.shopping_card .section .content .shopping_content .change_option form .form_item {
    clear: both;
    margin-bottom: 16px
}

#iqub-container.shopping_card .section .content .shopping_content .change_option form .form_item input[type='text'] {
    width: 280px;
    height: 40px;
    color: #161d26;
    font-family: Ubuntu;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 11px
}

#iqub-container.shopping_card .section .content .shopping_content .change_option form .form_item input[type='text'].error {
    border: 1px solid #e62e4c
}

#iqub-container.shopping_card .section .content .shopping_content .change_option form .form_item .units {
    color: #161d26;
    font-family: Ubuntu;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 11px
}

#iqub-container.shopping_card .section .content .shopping_content .change_option form .form_item .error_text {
    color: #e62e4c;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 28px
}

#iqub-container.shopping_card .section .content .shopping_content .change_option form .form_item .checkbox-items {
    display: block;
    color: #161d26;
    font-family: Ubuntu;
    font-size: 17px;
    font-weight: 400;
    line-height: 50px;
    padding-right: 42px
}

#iqub-container.shopping_card .section .content .shopping_content .change_option form .form_item .checkbox-items label {
    line-height: 50px;
    margin-bottom: 0
}

#iqub-container.shopping_card .section .content .shopping_content .change_option form .form_item .checkbox-items label input[type=radio] + label:before, #iqub-container.shopping_card .section .content .shopping_content .change_option form .form_item .checkbox-items label input[type=checkbox] + label:before {
    margin-right: 9px
}

#iqub-container.shopping_card .section .content .shopping_content .change_option form select {
    width: 280px;
    height: 40px;
    color: #161d26;
    font-family: Ubuntu;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px
}

#iqub-container.shopping_card .section .content .shopping_content .change_option form select option {
    color: #161d26;
    font-family: Ubuntu;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px
}

#iqub-container.shopping_card .section .content .shopping_content .change_option form .form_action input[type="submit"] {
    height: 40px;
    display: block;
    color: white;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
    background: #015995;
    padding: 0 10px;
    border: 0;
    box-shadow: none
}

#iqub-container.shopping_card .section .content .shopping_content .table_radio {
    padding-top: 29px;
    padding-left: 15px;
    font-family: "Ubuntu", helvetica, Arial, sans-serif;
    position: relative
}

@media screen and (max-width: 959px) {
    #iqub-container.shopping_card .section .content .shopping_content .table_radio {
        padding-top: 20px
    }
}

#iqub-container.shopping_card .section .content .shopping_content .table_radio form {
    padding-top: 0
}

#iqub-container.shopping_card .section .content .shopping_content .table_radio form .table_radio_subwrap, #iqub-container.shopping_card .section .content .shopping_content .table_radio form .subtext_table {
    float: left;
    color: #5d6978;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px
}

#iqub-container.shopping_card .section .content .shopping_content .table_radio form .table_radio_subwrap input[type="submit"], #iqub-container.shopping_card .section .content .shopping_content .table_radio form .subtext_table input[type="submit"] {
    height: 40px;
    display: block;
    color: white;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
    background: #015995;
    padding: 0 10px;
    border: 0;
    box-shadow: none;
    margin-top: 19px
}

#iqub-container.shopping_card .section .content .shopping_content .table_radio form:after {
    content: '';
    clear: both;
    display: block
}

#iqub-container.shopping_card .section .content .shopping_content .table_radio table {
    background: white;
    border: 1px solid #161d26;
    text-align: center;
    vertical-align: middle;
    border-collapse: initial;
    margin-left: 25px
}

#iqub-container.shopping_card .section .content .shopping_content .table_radio table td {
    border-right: 1px solid #aeb0b3;
    border-bottom: 1px solid #919599;
    width: 39px;
    height: 39px;
    color: #5d6978;
    font-size: 13px
}

#iqub-container.shopping_card .section .content .shopping_content .table_radio table td input:checked + label {
    background: #e62e4c
}

#iqub-container.shopping_card .section .content .shopping_content .table_radio table td label {
    padding: 0;
    margin: 0;
    width: 39px;
    height: 40px;
    display: block;
    background: #d2e8f6
}

#iqub-container.shopping_card .section .content .shopping_content .table_radio table td label:before {
    display: none
}

#iqub-container.shopping_card .section .content .shopping_content .table_radio .subtext_table {
    color: #5d6978;
    font-size: 13px;
    line-height: 19px;
    padding-left: 39px;
    padding-top: 23px;
    max-width: 280px
}

#iqub-container.shopping_card .section .content .shopping_content .table_radio .table_left_part {
    color: #5d6978;
    font-size: 13px;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    left: -25px;
    top: 144px;
    line-height: 13px
}

#iqub-container.shopping_card .section .content .shopping_content .table_radio .table_top_part {
    color: #5d6978;
    font-size: 13px;
    padding-left: 65px
}

#iqub-container.shopping_card .section .content .shopping_content .select_all_wrap {
    background: #b6ddf7;
    color: #161d26;
    font-family: Ubuntu;
    font-size: 17px;
    line-height: 60px;
    padding-left: 35px
}

#iqub-container.shopping_card .section .content .shopping_content .select_all_wrap label {
    font-weight: 700;
    margin-bottom: 0
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap {
    border: 1px solid #d3dae1
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_item {
    display: table
}

@media (max-width: 639px) {
    #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_item {
        display: block
    }
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_item > div {
    display: table-cell;
    padding-top: 10px;
    padding-bottom: 40px
}

@media (max-width: 639px) {
    #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_item > div {
        display: block
    }
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_item .select_product {
    padding-left: 32px
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_item .select_product label {
    position: relative;
    top: 7px
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_item .image {
    width: 240px;
    vertical-align: middle;
    padding-left: 30px;
    padding-right: 30px
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_item .image img {
    max-width: 240px;
    max-height: 240px
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_item .text {
    padding-left: 30px;
    padding-right: 30px;
    font-family: Ubuntu;
    font-size: 15px;
    line-height: 30px;
    color: #161d26;
    font-weight: 400
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_item .text .line_error {
    color: #e62e4c
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_item .text p {
    margin-bottom: 0
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_item .text strong {
    font-weight: 700
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_item .text a, #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_item .text .editble {
    font-family: Ubuntu;
    font-size: 15px;
    line-height: 30px;
    color: #015995;
    font-weight: 400;
    border-bottom: 1px dashed #015995
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_item .text a.title, #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_item .text .editble.title {
    font-weight: 700
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity {
    background: #daeefb;
    height: 80px
}

@media (max-width: 959px) {
    #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity {
        height: auto
    }
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity:after {
    content: '';
    clear: both;
    display: block
}

@media (max-width: 639px) {
    #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity {
        height: auto;
        padding: 10px 20px
    }
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .annual {
    margin-left: 82px
}

@media (max-width: 959px) {
    #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .annual {
        margin-left: 20px
    }
}

@media (max-width: 639px) {
    #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .annual {
        margin-left: 0
    }
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .annual, #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .quantity {
    color: #161d26;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    float: left;
    width: 238px
}

@media (max-width: 959px) {
    #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .annual, #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .quantity {
        width: 200px
    }
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .annual span, #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .quantity span {
    display: block;
    padding: 5px 0
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .annual input, #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .quantity input {
    font-size: 17px;
    line-height: 38px;
    height: 40px;
    width: 118px;
    border: 1px solid #201e1f;
    padding-left: 10px;
    float: left
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .annual a, #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .quantity a {
    display: none;
    height: 40px;
    float: left;
    color: white;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
    background: #015995;
    padding: 0 10px
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .annual a.delete_product, #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .quantity a.delete_product {
    background: #e62e4c
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .annual a.show, #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .quantity a.show {
    display: block
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .right_cost {
    float: right;
    width: 355px
}

@media (max-width: 959px) {
    #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .right_cost {
        clear: both;
        float: none;
        width: 100%
    }
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .right_cost .cost, #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .right_cost .unit {
    float: right;
    color: #161d26;
    font-family: Ubuntu;
    font-weight: 400;
    line-height: 20px;
    padding-right: 19px;
    padding-top: 38px;
    font-size: 13px
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .right_cost .cost span, #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .right_cost .unit span {
    font-size: 17px
}

@media (max-width: 959px) {
    #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .right_cost .cost, #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .right_cost .unit {
        padding-bottom: 19px;
        padding-top: 19px
    }
}

@media (max-width: 639px) {
    #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .right_cost .cost, #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .right_cost .unit {
        padding-left: 0;
        padding-right: 0
    }
}

@media (max-width: 400px) {
    #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .right_cost .cost, #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .right_cost .unit {
        float: none
    }
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .right_cost .unit {
    float: left
}

@media (max-width: 959px) {
    #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .right_cost .unit {
        padding-left: 19px
    }
}

@media (max-width: 639px) {
    #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .right_cost .unit {
        padding-left: 0
    }
}

@media (max-width: 400px) {
    #iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .right_cost .unit {
        float: none;
        padding-bottom: 0
    }
}

#iqub-container.shopping_card .section .content .shopping_content .total, #iqub-container.shopping_card .section .content .shopping_content .tax, #iqub-container.shopping_card .section .content .shopping_content .total_cost {
    background: #b6ddf7;
    text-align: right;
    color: #161d26;
    font-family: Ubuntu;
    font-weight: 400;
    line-height: 20px;
    padding-right: 19px;
    padding-bottom: 22px;
    padding-top: 17px;
    font-size: 13px
}

#iqub-container.shopping_card .section .content .shopping_content .total span, #iqub-container.shopping_card .section .content .shopping_content .tax span, #iqub-container.shopping_card .section .content .shopping_content .total_cost span {
    font-size: 17px
}

#iqub-container.shopping_card .section .content .shopping_content .tax {
    background: #daeefb
}

#iqub-container.shopping_card .section .content .shopping_content .form-action {
    padding-top: 39px
}

#iqub-container.shopping_card .section .content .shopping_content .form-action button {
    margin-left: 0
}

#iqub-container.shopping_card .section .content .help-anchor {
    padding-top: 38px
}

#iqub-container.shopping_card .section .content .help-anchor .query_wrap {
    padding-bottom: 0
}

.prod_line_header,
.prod_line_name,
.pick_state,
.invoice_state {
    line-height: 1 !important;
}

.prod_line_stat {
    line-height: 0;
    white-space: nowrap;
}

.product_information tr td {
    padding: 15px 20px !important;
    width: 16.666%;

}


.pick_state,
.invoice_state{
    white-space: nowrap;
}
.prod_name{
    width: 30% !important;
}

.line_total{
    background-color: #b6ddf7;
}