.shop_data_preloader, .cart_data_preloader {
    position: fixed !important;
    background: rgba(160, 160, 160, 0.5) !important;
}

.upload_preload_data_start .cart_preloader, .upload_preload_data_start .shop_preloader {
    position: fixed;
    margin: 19% 44%;
}

.upload_preload_data_start .shop_preload_text {
    position: fixed !important;
}

#iqub-container .section .order_info {
    text-align: left;
}

#iqub-container .section .order_info table {
    padding-top: 5px;
}

#iqub-container .section .order_info table tbody tr td {
    font-size: 14px;
    padding: 3px 7px;
    line-height: 15px;
}

#iqub-container .section .order_info table tbody tr .order_element_name {
    text-align: right;
}

#iqub-container .section .order_info table tbody tr .order_element_value {
    text-align: left;
}

#iqub-container .section .order_info p {
    margin-top: 8px;
    font-size: 25px;
    font-weight: 700;
    padding-left: 32px;
}

#iqub-container .section .order_info p a {
    font-size: 14px;
    font-weight: 700;
}

/*#iqub-container .section .order_info table .order_total td {*/
/*padding-top: 10px;*/
/*font-size: 16px;*/
/*}*/

.delivery .form_part .select-wrap {
    margin: 0;
}

/*#iqub-container.shopping_card .section .content .change_customer form .form_item {*/
/*clear: both;*/
/*margin-bottom: 16px;*/
/*}*/

/*#iqub-container.shopping_card .section .content .change_customer form select {*/
/*width: 280px;*/
/*height: 40px;*/
/*color: #161d26;*/
/*font-size: 17px;*/
/*font-weight: 400;*/
/*line-height: 20px;*/
/*}*/

/*#iqub-container.shopping_card .section .content .change_customer form span.label {*/
/*color: #161d26;*/
/*font-size: 17px;*/
/*font-weight: 400;*/
/*position: relative;*/
/*top: 6px;*/
/*width: 87px;*/
/*display: inline-block;*/
/*text-align: left;*/
/*}*/

/*#iqub-container.shopping_card .section .content .change_customer form .form_item input[type='text'] {*/
/*width: 280px;*/
/*height: 40px;*/
/*color: #161d26;*/
/*font-size: 17px;*/
/*font-weight: 400;*/
/*line-height: 20px;*/
/*padding-left: 11px;*/
/*}*/

/*#iqub-container.shopping_card .section .content .change_customer form .form_action input[type="submit"] {*/
/*height: 40px;*/
/*display: block;*/
/*color: white;*/
/*font-size: 13px;*/
/*font-weight: 400;*/
/*line-height: 40px;*/
/*background: #015995;*/
/*padding: 0 10px;*/
/*border: 0;*/
/*box-shadow: none;*/
/*margin-top: 15px;*/
/*}*/

.chosen-container, .chosen-container-active.chosen-with-drop .chosen-single,
.chosen-container-single .chosen-single span,
.chosen-container-single .chosen-single,
.chosen-container-active .chosen-single {
    width: 280px;
    height: 40px;
    color: #161d26;
    font-size: 17px;
    font-weight: 400;
    line-height: 40px;
    padding: 0 0 0 10px;
}

.chosen-container-single .chosen-drop {
    margin: 0 0 0 10px;
}

.chosen-container-single .chosen-search {
    padding: 0;
}

.list_basked:hover {
    color: red;

}

.demo-icon {
    color: white;
}

.list_basked a:hover {
    color: red;
}

#iqub-container .section .content .upload_drawing .uys_flixo_link {
    height: 40px;
    display: inline-block;
    color: white;
    font-size: 14px;
    font-weight: 800;
    line-height: 40px;
    background: #015995;
    padding: 0 10px;
    text-decoration: none;
    border: 0;
    box-shadow: none;
    margin: 0 0 20px 0;
}

#iqub-container .section .content .upload_drawing .uys_flixo_link:hover {
    color: #ff0400;
    background: #01487d;
}

.upload-drawing_pink {
    background-color: #ffc0cb !important;
}

#delivery_address {
    width: 100%;
    padding-right: 37px;
    height: 35px;
    font-size: 17px;
    line-height: 17px;
    font-family: "Ubuntu", helvetica, Arial, sans-serif;
    background: transparent;
    border-bottom: 1px solid #161d26;
}

#change_option, #assign_to_me, #create_customer, #create_case {
    color: white;
    background: #01487d;
    height: 40px;
    border: 0;
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    padding: 0 20px;
    margin-top: 10px;
}

#customer_name input[type="text"] {
    width: 280px;
    height: 40px;
    color: #161d26;
    font-size: 17px;
    font-weight: 400;
    line-height: 40px;
    padding: 0 0 0 10px;
}

.my-articles-table tr td.td16 {
    text-align: center;
    width: 16%;
    padding: 30px 20px
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .right_cost .hsp {
    padding-top: 10px !important;
}

#iqub-container.shopping_card .section .content .shopping_content .product_item_wrap .product_quantity .right_cost .hsp input {
    font-size: 16px;
    line-height: 18px;
    height: 28px;
    width: 48px;
    border: 1px solid #201e1f;
    padding-left: 5px;
    margin: 5px;
}

.basket.shopping_card .change_opportunity, .save_opportunity #delivery_address_form .change_opportunity {
    padding-top: 40px
}

.basket.shopping_card .change_opportunity span, .save_opportunity span, #delivery_address_form .change_opportunity span {
    color: #5d6978;
    margin-bottom: 5px;
    width: 100%;
    font-size: 14px
}

.basket.shopping_card .change_opportunity .chosen-container, #delivery_address_form .change_opportunity .chosen-container {
    padding-left: 0
}

.basket.shopping_card .change_opportunity .chosen-single, #delivery_address_form .change_opportunity .chosen-single {
    border-radius: 0;
    border: 1px solid #161d26;
    width: 100%
}

.basket.shopping_card .change_opportunity .chosen-single b, #delivery_address_form .change_opportunity .chosen-single b {
    width: 12px;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    height: 6px;
    left: 50%;
    margin-left: -6px;
    border-top: 6px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent
}

.basket.shopping_card .change_opportunity .chosen-single div, #delivery_address_form .change_opportunity .chosen-single div {
    width: 26px
}

.basket.shopping_card .change_opportunity .chosen-drop, #delivery_address_form .change_opportunity .chosen-drop {
    margin: 0;
    border: 1px solid #161d26;
    border-top: 0
}

#case_name input[type="text"] {
    width: 280px;
    height: 40px;
    color: #161d26;
    font-size: 17px;
    font-weight: 400;
    line-height: 40px;
    padding: 0 0 0 10px;
}

.basket.shopping_card .use_default_pricelist label {
    font-size: 18px;
}

#iqub-container .section .content .list-products .product a {
    height: auto !important;
}

.supplier_popup_bg {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500
}

@media screen and (min-width: 1280px) {
    #iqub-container.shopping_card .section .content .supplier_order_content {
        float: left;
        display: inline-block;
        width: 100%
    }
}

#supplier_delivery_plus,
#supplier_delivery_minus,
#supplier_invoice_plus,
#supplier_invoice_minus {
    height: 30px;
}

#delivery_document, #supplier_delivery_minus,
#invoice_document, #supplier_invoice_minus,
#scheduled_date {
    display: none
}

.delivery .form-action #return {
    width: auto !important;
}

.quotation_popup_bg {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500
}

.quotation_popup_container {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #161d26;
    font-size: 17px;
    left: 50%;
    max-width: 900px;
    padding: 50px 30px;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 100%;
    z-index: 501
}

.quotation_popup_container h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
    max-width: 400px
}

.quotation_popup_container #invoice_data {
    margin: 40px 0
}

@media screen and (max-width: 959px) {
    .quotation_popup_container #invoice_data {
        margin: 20px 0
    }
}

.quotation_popup_container .quotation_popup_red_button {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #e62e4c;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    text-decoration: none
}

@media screen and (max-width: 959px) {
    .quotation_popup_container .quotation_popup_red_button {
        font-size: 15px
    }
}

#invoice_print {
    height: 40px;
    display: inline-block;
    color: white;
    font-size: 14px;
    font-weight: 800;
    line-height: 40px;
    background: #015995;
    padding: 0 10px;
    text-decoration: none;
    border: 0;
    box-shadow: none;
    margin: 0 0 20px 0;
}

#switcher-block{
    float: right;
    text-align: center;
    width: 220px;
}

#switcher-block .switcher-title{
    font-size: 14px;
    margin-bottom: -5px;
    padding-top: 15px;}

.switcher {
	position: relative;
	display: inline-block;
	margin: 1px 10px;
	height: 25px;
	width: 75px;
	z-index: 1;
}

.switcher-off {
	left: 1px;
	width: 33%;
	height: 100%;
}

.switcher-neutral {
	left: 33%;
	width: 33%;
	height: 100%;
}

.switcher-on{
	right: 1px;
	width: 33%;
	height: 100%;
}

.switcher-label {
	position: absolute;
	text-indent: -9999px;
	z-index: 2;
}

.switcher input {
	visibility: hidden;
	position: absolute;
}

.switcher-slider {
	height: 100%;
	width: 100%;
	border-radius: 15px;
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1) inset, 0 0 4px rgba(0, 0, 0, 0.5) inset, 0 2px 2px 1px rgba(0, 0, 0, 0.3) inset;
	transition: background-color 0.2s linear 0s;
}

.switcher-slider:after {
	transition: left 0.2s linear 0s, right 0.2s linear 0s;
	background: linear-gradient(#D0D0D0, #FDFDFD) repeat scroll 0 0 rgba(0, 0, 0, 0);
	content: "";
	position: absolute;
	top: 1px;
	border-radius: 50%;
	height: calc(100% - 2px);
	width: calc(100%/3 - 1px);
	box-shadow: 0 0 1px 1px #f4f4f4 inset, 0 0 3px 1px rgba(0, 0, 0, 0.6);
	left: 33%;
}

.switcher-radio-on:checked  ~ .switcher-slider,
.switcher-radio-neutral:checked  ~ .switcher-slider,
.switcher-radio-off:checked  ~ .switcher-slider{
	background: #ddd;
}

.switcher-radio-on:checked  ~ .switcher-slider:after {
	left: calc(2*(100%/3));
}

.switcher-radio-neutral:checked  ~ .switcher-slider:after {
	left: calc(1px + 100%/3);
}

.switcher-radio-off:checked  ~ .switcher-slider:after {
	left: 1px;
}

#iqub-container.new_catalog .product_filter li .product_filter_name {
    color: #005c9c;
    font-family: Ubuntu;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    cursor: pointer;
}


#change_opportunity {
    color: white;
    background: #01487d;
    height: 40px;
    border: 0;
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    padding: 0 20px;
    margin-top: 10px;
    cursor: pointer;
}

#save_opportunity {
    color: white;
    background: #01487d;
    height: 40px;
    border: 0;
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    padding: 0 20px;
    margin-top: 10px;
    cursor: pointer;
}

.opportunity_button {
    color: white;
    background: #2297e6;
    height: 40px;
    border: 0;
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    padding: 0 20px;
    margin-top: 10px;
    cursor: pointer;
    margin-top: 35px;
    margin-left: 160px;
}

.opportunity_button a {
    color: #0b0b0b;
}

#cabinet-container.portfolio_inner h1 input,
#cabinet-container.portfolio_inner .portfolio_top_price input,
#cabinet-container.portfolio_inner .two_column .column .row_column .info_item input{
    color: #161d26;
    font-family: Ubuntu;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    width: 100%;
    height: 60px;
    border-radius: 0;
    border: 1px solid #161d26;
    padding: 0 15px;
    margin: 10px 0;
}

#cabinet-container.portfolio_inner .portfolio_top_price input{
    width: 190px;
}

#cabinet-container.portfolio_inner .two_column .column .row_column .info_item input{
    font-size: 18px;
    line-height: 30px;
    height: 40px;
}

#cabinet-container.portfolio_inner .chosen-container-single{
    width: 348px !important;

}

#cabinet-container.portfolio_inner .chosen-container-multi{
    width: 348px !important;

}

#cabinet-container.portfolio_inner .chosen-container-single .chosen-single span,
#cabinet-container.portfolio_inner .chosen-container-single .chosen-single{
    width: 330px;

}
