<div class="product_item">
    <input type="hidden" name="order_line_%s" value="%s" class="order_line"/>
    <input type="hidden" name="product_%s" value="%s" class="product_order_line"/>
    <div class="select_product">
        <input id="select_product" type="checkbox" name="select_%s" value="%s"/>
        <label for="select_product"></label>
    </div>
    <div class="image">
        <img src="%s" alt="ttt"/>
    </div>
    <div class="text">
        <p>
            <a class="title" href="#">%s</a>
        </p>
        <p>
            Article № %s
        </p>
        <p>
            Width: <a href="#">%s mm</a>, height: <a href="#">%s mm</a>,
            area: <a href="#">%s mm2</a>
        </p>
        <p>
            <strong>Options:</strong> %s, length: %s m, glue wire:
            %s, low-e foil: %s
        </p>
        <p>
            <strong>Foam:</strong>
        </p>
    </div>
</div>